@page
@{
    ViewData["Title"] = "Home page";
}

<div class="h-screen w-full flex flex-col justify-center items-center">
    <div class='max-w-lg bg-white dark:bg-black shadow-md rounded-lg overflow-hidden mx-auto'>
        <div class="py-4 px-8 mt-3">
            <div class="flex flex-col mb-8">
                <h2 class="text-gray-700 dark:text-gray-300 font-semibold text-2xl tracking-wide mb-2">Welcome to the Faff</h2>
                <p class="text-gray-500 text-base">This is some styled content from a Razor page</p>
            </div>
            <div class="py-4">
                <a href="/" class="block tracking-widest uppercase text-center shadow bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">
                    Neat!
                </a>
            </div>
        </div>
    </div>
</div>