<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA00lEQVQ4jZWSQRGEMAxFX6kBJFQCEpDAfS+c91QHSKgEJCChEioBCUhgD7RLtgsFMtML89/PTwI8qxpoAQ8EwD6B2wit4s134Q5ogCUzmO5EdlHsgUapH5P+Cp6yjl4kmaPmB2jRus/gEDt5YFUqmmg6CY5iPidir8AQdf1ZdCkOoF/8b9qyX8AdzWvibAal8lPJF/K5j8qewJ76Gh6iQW7i7nRuBJBMFuBNVVn2ZRa7y46w7SadszvGtqqBGfX9UeT3ZGpKBuZEkAx8MftFjRQW+AGoU1dleoYetgAAAABJRU5ErkJggg==" rel="icon" type="image/x-icon" />

    <link rel="prefetch" href="https://rsms.me/inter/inter.css" as="style" onload="this.rel = 'stylesheet'">
    <noscript><link rel="stylesheet" href="https://rsms.me/inter/inter.css"></noscript>

    <link rel="preload" href="/css/site.css" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="/css/site.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="/css/site.css"></noscript>

    <script defer src="/js/htmx.min.js"></script>
    <script defer src="/js/_hyperscript.min.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body class="min-h-screen bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-100">
    @RenderBody()
</body>
</html>